[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
numpy = "*"
jupyter = "*"
pyopengl = "*"
pygame = "==2.0.0.dev6"
pillow = "*"

[requires]
python_version = "3.7"
